<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Дети младшей группы</title>
</head>
<body>
<main layout:fragment="content" class="container mt-5">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h1>Список детей младшей группы (C1, C2)</h1>
        <a href="/children/new" class="btn btn-success">Добавить ребенка</a>
    </div>

    <div class="table-responsive">
        <table class="table table-hover table-striped align-middle">
            <thead class="table-dark">
            <tr>
                <th scope="col">№</th>
                <th scope="col">ФИО</th>
                <th scope="col">Дата рождения</th>
                <th scope="col">Адрес</th>
                <th scope="col">Телефон папы</th>
                <th scope="col">Телефон мамы</th>
                <th scope="col">Группа</th>
                <th scope="col">Кружок</th>
                <th scope="col">Национальность</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="child : ${children}">
                <td th:text="${child.id}">1</td>
                <td th:text="${child.fio}">Иванов Иван</td>
                <td th:text="${#temporals.format(child.dateborn, 'dd.MM.yyyy')}">01.01.2017</td>
                <td th:text="${child.adres}">ул. Примерная, 5</td>
                <td th:text="${child.telPap}">+7 900 123-45-67</td>
                <td th:text="${child.telMam}">+7 900 765-43-21</td>
                <td th:text="${child.gruppa.gruppa}">C1</td>
                <td th:text="${child.kruzhok.kruzhok}">Танцы</td>
                <td th:text="${child.nationality.nationality}">Русский</td>
            </tr>
            </tbody>
        </table>
    </div>
</main>
</body>
</html>
